%{ for subzone, ip in subzone_records ~}
${subzone}.${base_domain}:53 {
    log
    errors

    template IN A {
        match ".*"
        answer "{{.Name}} 60 IN A ${ip}"
    }

    template IN AAAA {
        match ".*"
        answer "{{.Name}} 60 IN AAAA ::"
    }
}

%{ endfor ~}
${base_domain}:53 {
    log
    errors

    route53 ${base_domain}.:${aws_route53_zone_id} {
        fallthrough
    }

    template IN A {
        match ".*"
        answer "{{.Name}} 60 IN A ${k8s_lb_ip}"
    }

    template IN AAAA {
        match ".*"
        answer "{{.Name}} 60 IN AAAA ::"
    }

    forward . tls://8.8.8.8 tls://8.8.4.4
}

. {
    log
    errors

    forward . tls://8.8.8.8 tls://8.8.4.4 {
        except ${base_domain}
    }
}
