config:
  bind: 0.0.0.0:25565
  lite:
    enabled: true
    routes:
      - host: ${host}
        backend: minecraft-server.${namespace}.svc.cluster.local:25565
      - host: '*'
        backend: minecraft-server.${namespace}.svc.cluster.local:25565
