fullnameOverride: open-webui

ollama:
  enabled: false

ollamaUrls: ["${ollama_url}"]

enableOpenaiApi: true
openaiBaseApiUrl: ""
openaiApiKey: ""

sso:
  enabled: true
  enableSignup: true
  enableRoleManagement: true
  oidc:
    enabled: true
    providerUrl: "${openid_provider_url}"
    providerName: "${openid_provider_name}"
    clientExistingSecret: openwebui-authentik-secret
    clientIdExistingSecretKey: client_id
    clientExistingSecretKey: client_secret
  roleManagement:
    rolesClaim: groups
    allowedRoles: "openwebui-users,openwebui-admins"
    adminRoles: "openwebui-admins"

serviceAccount:
  enable: true
  create: false
  name: existing-sa

extraEnvVars:
  - name: ENV
    value: "dev"
  - name: OPENAI_API_KEY
    valueFrom:
      secretKeyRef:
        name: openwebui-pipelines-secret
        key: key
  - name: SHOW_ADMIN_DETAILS
    value: "false"
  - name: ENABLE_LOGIN_FORM
    value: "false"
  - name: ENABLE_PASSWORD_AUTH
    value: "false"
  - name: TIKA_SERVER_URL
    value: "http://open-webui-tika.openwebui.svc.cluster.local:9998"
  - name: ENABLE_DIRECT_CONNECTIONS
    value: "true"
  - name: ENABLE_WEB_SEARCH
    value: "true"
  - name: ENABLE_SEARCH_QUERY_GENERATION
    value: "true"
  - name: WEB_SEARCH_RESULT_COUNT
    value: "5"
  - name: WEB_SEARCH_ENGINE
    value: "ddgs"
  - name: WEB_LOADER_ENGINE
    value: "playwright"
  - name: RAG_OLLAMA_BASE_URL
    value: "http://ollama.llamero.svc.cluster.local:11434"
  - name: RAG_EMBEDDING_ENGINE
    value: "ollama"
  - name: RAG_EMBEDDING_MODEL
    value: "nomic-embed-text"
  - name: CONTENT_EXTRACTION_ENGINE
    value: "tika"
  - name: CHROMA_HTTP_HOST
    value: "open-webui-chromadb.openwebui.svc.cluster.local"
  - name: WEBUI_SECRET_KEY
    valueFrom:
      secretKeyRef:
        name: openwebui-secret
        key: secret

websocket:
  enabled: true
  url: redis://open-webui-redis.openwebui.svc.cluster.local:6379/0
  redis:
    enabled: true

ingress:
  enabled: true
  class: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    cert-manager.io/cluster-issuer: ${cert_issuer}
  host: ${host}
  tls: true
  existingSecret: openwebui-tls

persistence:
  enabled: true
  existingClaim: open-webui
  size: ${storage_size}

pipelines:
  enabled: true
  fullnameOverride: open-webui-pipelines
  persistence:
    existingClaim: open-webui-pipelines
  extraEnvVars:
    - name: PIPELINES_API_KEY
      valueFrom:
        secretKeyRef:
          name: openwebui-pipelines-secret
          key: key
