server:
  extraFlags:
    - web.enable-lifecycle
  retention: "15d"
  ingress:
    enabled: false
  service:
    type: ClusterIP
  persistentVolume:
    enabled: true
    size: ${storage_size}
    accessMode: ReadWriteMany

alertmanager:
  enabled: true
  persistence:
    size: ${alert_manager_storage_size}
    accessMode: ReadWriteMany

kube-state-metrics:
  enabled: true

prometheus-node-exporter:
  enabled: true
  rbac:
    pspEnabled: false
  podAnnotations:
    pod-security.kubernetes.io/enforce: privileged

prometheus-pushgateway:
  enabled: true

extraScrapeConfigs: |
  - job_name: "traefik"
    metrics_path: /metrics
    scheme: http
    kubernetes_sd_configs:
      - role: endpoints
        namespaces:
          names:
            - traefik
    relabel_configs:
      - source_labels: [__meta_kubernetes_service_label_app]
        regex: traefik
        action: keep
      - source_labels: [__meta_kubernetes_endpoint_port_name]
        regex: metrics
        action: keep
