[global]
  server role = standalone server
  workgroup = WORKGROUP

  map to guest = Bad User
  guest account = ${guest_user}
  security = user

  log file = /var/log/samba/log.%m
  max log size = 1000

  local master = yes
  preferred master = yes
  domain master = yes
  os level = 255

  host msdfs = no
  usershare max shares = 0

%{ for share in samba_directories ~}
[${share.name}]
  path = ${storage_path}/${share.name}
  browseable = yes
  guest ok = %{ if share.public }yes%{ else }no%{ endif }
  read only = %{ if share.public }yes%{ else }no%{ endif }
  write list = ${admin_user}, @${admin_user}
%{ if !share.public }
  valid users = ${admin_user}, @${admin_user}
%{ endif }
  force user = ${admin_user}
  force group = ${admin_user}
  create mask = 0664
  directory mask = 0775

%{ endfor ~}
