deployment:
  kind: DaemonSet

service:
  enabled: true
  type: LoadBalancer
  loadBalancerIP: ${lb_ip}

ports:
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    expose:
      default: true
    exposedPort: 443

